.container {
  padding: 32px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading > h2 {
  font-size: 32px;
  font-weight: 500;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}
